@import "https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f5f6f7;
  --foreground: #171717;
  --mediumBlue: #3f6ca1;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
}

main {
  margin: 1rem;
}
